body {
  background-color: #000;
}

#menu {
	width: 700px;
	margin: 70px auto 0;
}

#title {
	margin: 50px;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	font-size: 64px;
}

h1 {
	color: #F00;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

#content {
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 700px;
	margin: 70px auto 0;
	color: #FFF;
}

label {
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	margin-right: 20px;
	color: #F00;
}

#Playerl{
	margin-left: 20%;
}

input, a {
	border-radius: 3px;
	border: none;
	font-size: 16px;
}

.menubut{
	position: relative;
	top: 20px;
	color: #F00;
	font-weight: bold;
	background-color: #FFF;
	border: none;
	padding: 5px;
	margin: 20px 20px;
}

#submitButton{
	top: 0px;
	left: 0%;
}

#instructions {
	color: #FF0;
	padding: 20px;
}

.roombut{
	color: #F00;
	font-weight: bold;
	background-color: #FFF;
	border: none;
	padding: 5px;
	margin-right: 5px;
}

.rooms {
	position: relative;
	/* top: 20px; */
	background-color: #000;
	color: #FF0;
	padding: 10px 10px;
	border: 5px solid #A00;
	border-radius: 3px;
	height: 200px;
}

.selected{
	color: #F00;
	background-color: 
}

li {
	margin-bottom: 5px;
}

#createButton {
	background-color: #F00;
	color: #FFF;
	right: -63%;
}

#joinButton {
	right: -63%;
}


